
body{
    background-color: #f7f4ee;
    
    
}

.entries-page{
    background-color: #f7f4ee;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}

.entry-list{
    margin: 0;
    width: 60vh;
    overflow: scroll;
    margin-bottom: 6em;
}
.entry-list-item{
    background-color: #9b7662;
    color: #f7f4ee;
    display: flex;
    flex-direction: column;
    min-height: 5em;
    padding:1em;
    margin: auto 0 0.5em 2em;
    border-radius: 2px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
   

}

.list-item-date{
    letter-spacing: 0.06em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: lighter;
  
}

.list-item-title{
    letter-spacing: 0.03em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom:0em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 90%;
    white-space: pre-wrap; 
    word-break: break-word;
   

}

.entry-list-item:hover{
    cursor: pointer;
    background-color: #9b7662e1;
    transform: scale(1.01, 1.01);
    transition: 100ms;
    box-shadow:  #261f2281 1px 1px 4px;
}

.entry-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delete-entry-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.icon-delete{
    height: 1.2em;
  
}

.empty-list-container{
    display: flex;
    height: 80vh;
}

.empty-entry-list{
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 1.3em;
}

.go-back-icon{
    height: 1em;
    margin: 0.4em 0 0 0.4em;
    cursor: pointer;
 

}

.selected-entry-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100ch;
    margin: 0 2em;
    height: 100vh;
   
}

.selected-entry{
    display: flex;
    flex-direction: column;
    box-shadow: #261f22 1px 2px 10px;
    padding: 2em 0;
    height: 86%;
   
}

.go-back{
    display: flex;
    align-items: center;
    margin: 1.5em 2em 1em 3.5em;
}
.go-back:hover{
    cursor: pointer;
    transform: scale(1.01, 1.08);
    transition: 150ms;

}


.go-back-page-icon{
    height: 1.8em;
    border-radius: 40px;
}

.go-back-text{
    font-size: 1.4em;
    color: #AC4E29;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-right: 0.5em;
  
    
}