
.notes{
  
    overflow-y: scroll !important;
  
}

.notes-list-container{
   margin: 0 auto;
    padding: 1em 6em;
    overflow-y: scroll !important;
    height:88vh;

}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, minmax(250px, 2fr));

 
}

.note-item-text{
    overflow-y: scroll !important;
    white-space: pre-wrap; 
    word-break: break-word;
}

.note-item{
    background-color: #8e7a7d;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 0em;
  min-height: 250px;
  max-height: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.note-item:hover{
    background-color: #8e7a7de1;
}
.icon-delete-note{
    height: 1.2em;
   
}
.icon-delete-note:hover{
    cursor: pointer;
}
.delete-btn-container{
    align-self: flex-end;
    margin-bottom: 0.5em;
}

